
.item {
    border: 1px solid gray;
    margin-bottom: 20px;
}

.image {
    background-repeat: no-repeat; 
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 300px;
}

.cardInfo {
    padding: 10px;
}

.cardInfo h2 {
    margin-bottom: 10px;
}

.cardInfo p {
    margin-bottom: 10px;
}